<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= {% static 'listings/myStyle.css' %} >
    <title>Document</title>
</head>
<body>
    <nav class="menu_lat">
        <p class="it nameApp" >Gestionnaire d'Actualités</p>
        <div class="it menu">
            <p>
               <a class="navTitle" href=" {% url 'band-list' %}"> Groupes</a>
               <a class="navTitle" href="{% url 'annonce-list'%}"> Annonces</a>
            </p>
        </div>
    </nav>
    <div class="princ">
{% block content %}



{% endblock %}

    </div>
</body>
</html>